* {
  padding: 0px;
  margin: 0px;
}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

html body {
  width: 100%;
  background-color: #141414;
  overflow: hidden;
}

html body .ytButton {
  position: fixed;
  right: 2%;
  top: 6.5%;
  z-index: 1000;
  -webkit-transition: .6s;
  transition: .6s;
}

html body .ytButton i {
  font-size: 2.4em;
  color: tomato;
  -webkit-transition: .5s;
  transition: .5s;
}

html body .ytButton i:hover {
  color: #ff3814;
}

html body .preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1005 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  justify-content: center;
  background-color: #151315;
}

html body .preloader video {
  width: 100%;
  z-index: 1005 !important;
}

html body nav {
  width: 100%;
  position: fixed;
  top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  z-index: 999;
  padding: 0.5% 0%;
  -webkit-transition: .6s;
  transition: .6s;
}

html body nav .logoNav {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body nav .logoNav .logoImage img {
  width: 150px;
  max-width: 100%;
  height: auto;
  -webkit-transition: .6s;
  transition: .6s;
}

html body nav .menuNav {
  width: 55%;
}

html body nav .menuNav .mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body nav .menuNav .mainMenu li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.2em;
  position: relative;
  -webkit-transition: .6s;
  transition: .6s;
  letter-spacing: 2.5px;
  font-family: "Work Sans", sans-serif;
}

html body nav .menuNav .mainMenu li a:hover {
  color: tomato;
}

html body nav .menuNav .mainMenu li a:before, html body nav .menuNav .mainMenu li a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}

html body nav .menuNav .mainMenu li a:before {
  left: -15%;
  top: -15%;
  border-left: 3px solid tomato;
  border-top: 3px solid tomato;
  -webkit-transform: translate(100%, 50%);
          transform: translate(100%, 50%);
}

html body nav .menuNav .mainMenu li a:after {
  right: -15%;
  bottom: -15%;
  border-right: 3px solid tomato;
  border-bottom: 3px solid tomato;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

html body nav .menuNav .mainMenu li a:hover:before, html body nav .menuNav .mainMenu li a:hover:after {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
}

html body nav .menuNav .mainMenu li a:hover {
  color: #ff7961;
}

html body #triggerSideNav {
  position: fixed;
  z-index: 1004;
  top: 3%;
  left: 5%;
  font-size: 2em;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  display: none;
}

html body #triggerSideNav:hover {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

html body #triggerSideNav:hover > i {
  color: #ff4d2e;
}

html body #triggerSideNav i {
  color: tomato;
  -webkit-transition: .2s;
  transition: .2s;
}

html body .sideNav {
  position: fixed;
  top: 0%;
  bottom: 0%;
  width: 100%;
  background-color: #141414;
  z-index: 1003;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-1500px);
          transform: translateY(-1500px);
  -webkit-transition: 1.4s;
  transition: 1.4s;
}

html body .sideNav .sideMenu {
  list-style-type: none;
  text-align: center;
}

html body .sideNav .sideMenu li {
  margin: 30px 0%;
}

html body .sideNav .sideMenu li a {
  text-decoration: none;
  color: tomato;
  font-size: 1.3em;
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: 5% 0%;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 3px;
}

html body .sideNav .sideMenu li a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -5%;
  left: 0;
  background-color: tomato;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

html body .sideNav .sideMenu li a:hover:after {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

html body .sideNav .logoSideNav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .sideNav .logoSideNav a img {
  max-width: 100%;
  height: auto;
  width: 45%;
}

html body .sideNav1 {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

html body main {
  width: 100%;
  height: 100vh;
  padding: 0px;
  background-image: url("../images/backgroundNew.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

html body main .fader {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: cyan;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.7);
}

html body main .fader .infoMain {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

html body main .fader .infoMain .infoBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body main .fader .infoMain .infoBlock img {
  width: 60%;
  opacity: 0;
  -webkit-animation: showMe 2.6s;
          animation: showMe 2.6s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

html body main .fader .infoMain .infoBlock a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 12px;
  text-decoration: none;
  padding: 5%;
  margin-top: 7%;
  font-family: "Work Sans", sans-serif;
  background-color: tomato;
  color: whitesmoke;
  font-size: 1.1em;
  letter-spacing: 2px;
  opacity: 0;
  -webkit-animation: showMe 2.2s;
          animation: showMe 2.2s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

html body main .fader .infoMain .infoBlock a:hover, html body main .fader .infoMain .infoBlock a:focus {
  border-color: transparent;
  color: tomato;
  -webkit-box-shadow: inset 0 -4.50em 0 0 whitesmoke;
          box-shadow: inset 0 -4.50em 0 0 whitesmoke;
}

html body .specialSection {
  width: 100%;
  padding: 10% 0%;
}

html body .specialSection .rowSpec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .specialSection .rowSpec .colKoSamJa1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0px;
}

html body .specialSection .rowSpec .colKoSamJa1::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background: linear-gradient(308deg, #e85d46, #f24124, #f55238, #f3600c);
  background-size: 800% 800%;
  -webkit-animation: gradientTomato 2s ease infinite;
          animation: gradientTomato 2s ease infinite;
  left: 6%;
}

html body .specialSection .rowSpec .colKoSamJa1 .koSamJaInfo {
  width: 80%;
  font-family: "Work Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .specialSection .rowSpec .colKoSamJa1 .koSamJaInfo h2 {
  color: whitesmoke;
  font-size: 2.7em;
  background: linear-gradient(308deg, #e85d46, #f24124, #f55238, #f3600c, #ca4033, tomato);
  background-size: 800% 800%;
  -webkit-animation: gradientTomato 4s ease infinite;
          animation: gradientTomato 4s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

html body .specialSection .rowSpec .colKoSamJa1 .koSamJaInfo p {
  letter-spacing: 2.5px;
  color: whitesmoke;
  padding-top: 9%;
  line-height: 35px;
  text-align: justify;
}

html body .specialSection .rowSpec .colKoSamJa1 .koSamJaInfo #rezultatiKlijenata {
  margin: 7% auto;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 6px;
  text-decoration: none;
  width: 50%;
  text-align: center;
  background-color: transparent;
  border: 3px solid tomato;
  line-height: 4em;
  color: tomato;
  letter-spacing: 2.2px;
}

html body .specialSection .rowSpec .colKoSamJa1 .koSamJaInfo #rezultatiKlijenata:hover, html body .specialSection .rowSpec .colKoSamJa1 .koSamJaInfo #rezultatiKlijenata:focus {
  -webkit-box-shadow: 0 0.7em 0.7em -0.4em #eb5527;
          box-shadow: 0 0.7em 0.7em -0.4em #eb5527;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  color: whitesmoke;
  background-color: tomato;
}

html body .specialSection .rowSpec .colZastoBasJa1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .specialSection .rowSpec .colZastoBasJa1 #videoZastoBasJa {
  width: 90%;
}

html body .specialSection .rowSpec .colZastoBasJa2 {
  padding: 0px;
  position: relative;
}

html body .specialSection .rowSpec .colZastoBasJa2::before {
  display: none;
}

html body .specialSection .rowSpec .colZastoBasJa2::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background: linear-gradient(308deg, #e85d46, #f24124, #f55238, #f3600c);
  background-size: 800% 800%;
  -webkit-animation: gradientTomato 2s ease infinite;
          animation: gradientTomato 2s ease infinite;
  right: 7% !important;
}

html body .specialSection .rowSpec .colKoSamJa2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
}

html body .specialSection .rowSpec .colKoSamJa2 .koSamJaSlika {
  width: 80%;
}

html body .specialSection .rowSpec .colKoSamJa2 .koSamJaSlika img {
  max-width: 100%;
  height: auto;
}

html body .zastoBasJa {
  background-color: #121212;
}

html body .plans {
  padding: 5% 0%;
}

html body .plans h2 {
  color: whitesmoke;
  font-size: 2.7em;
  background: linear-gradient(308deg, #e85d46, #f24124, #f55238, #f3600c, #ca4033, tomato);
  background-size: 800% 800%;
  -webkit-animation: gradientTomato 4s ease infinite;
          animation: gradientTomato 4s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding-bottom: 8%;
}

html body .plans h2 label {
  font-size: 1em;
  color: #006378;
  border-bottom: 3px solid tomato;
  padding-bottom: .5%;
}

html body .plans .plansCont .rowPlans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .plans .plansCont .rowPlans .colPlanIshrane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .plans .plansCont .rowPlans .colPlanIshrane .planBox {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #212121;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 400px;
  border-radius: 12px;
  border: 2px solid tomato;
  padding: 15% 0%;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: .5s;
  transition: .5s;
}

html body .plans .plansCont .rowPlans .colPlanIshrane .planBox:hover {
  -webkit-box-shadow: -1px 2px 36px 13px tomato;
          box-shadow: -1px 2px 36px 13px tomato;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

html body .plans .plansCont .rowPlans .colPlanIshrane .planBox .planPictureHolder {
  position: absolute;
  width: 60%;
}

html body .plans .plansCont .rowPlans .colPlanIshrane .planBox .planPictureHolder:first-child {
  left: -19%;
  top: 23%;
}

html body .plans .plansCont .rowPlans .colPlanIshrane .planBox .planPictureHolder:last-child {
  top: 23%;
  right: -20%;
}

html body .plans .plansCont .rowPlans .colPlanIshrane .planBox .planPictureHolder img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  border: 3px solid tomato;
  -webkit-transition: .5s;
  transition: .5s;
}

html body .plans .plansCont .rowPlans .colPlanIshrane .planBox .aboutPlan {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Work Sans", sans-serif;
}

html body .plans .plansCont .rowPlans .colPlanIshrane .planBox .aboutPlan h3 {
  color: tomato;
  font-size: 1.9em;
  text-align: center;
  letter-spacing: 2px;
}

html body .plans .plansCont .rowPlans .colPlanIshrane .planBox .aboutPlan p {
  color: #eea24c;
  letter-spacing: 2px;
  line-height: 1.7em;
  text-align: center;
  font-size: 1.2em;
}

html body .plans .plansCont .rowPlans .colPlanIshrane .planBox .aboutPlan p span {
  font-size: 1.3em;
}

html body .plans .plansCont .rowPlans .colPlanIshrane .planBox .aboutPlan .orderPlanButton {
  width: 87%;
  text-align: center;
  color: whitesmoke;
  line-height: 3em;
  background-color: tomato;
  border: 3px solid tomato;
  text-decoration: none;
  border-radius: 6px;
  letter-spacing: 2px;
  -webkit-transition: .5s;
  transition: .5s;
}

html body .plans .plansCont .rowPlans .colPlanIshrane .planBox .aboutPlan .orderPlanButton:hover, html body .plans .plansCont .rowPlans .colPlanIshrane .planBox .aboutPlan .orderPlanButton:focus {
  -webkit-box-shadow: inset 0 0 0 2em whitesmoke;
          box-shadow: inset 0 0 0 2em whitesmoke;
  color: tomato;
  background-color: whitesmoke;
  border: 3px solid whitesmoke;
}

html body .plans .plansCont .rowPlans .colSpecialPlan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 12px;
  padding: 5% 0%;
  -webkit-transition: .5s;
  transition: .5s;
  background: linear-gradient(8deg, #e85d46, #f24124, #f55238, #f3600c, orangered, tomato, red);
  background-size: 800% 800%;
  -webkit-animation: gradientTomato 2s ease infinite;
          animation: gradientTomato 2s ease infinite;
}

html body .plans .plansCont .rowPlans .colSpecialPlan:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: -1px 2px 36px 13px #f06b1d;
          box-shadow: -1px 2px 36px 13px #f06b1d;
}

html body .plans .plansCont .rowPlans .colSpecialPlan h3 {
  color: whitesmoke;
  font-size: 2em;
  padding-bottom: 10%;
  letter-spacing: 2px;
}

html body .plans .plansCont .rowPlans .colSpecialPlan .planIshraneITreninga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: none;
          box-shadow: none;
}

html body .plans .plansCont .rowPlans .colSpecialPlan .planIshraneITreninga:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

html body .plans .plansCont .rowPlans .colPlanTreninga .planTreninga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

html .vert {
  overflow-y: auto;
}

@-webkit-keyframes showMe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showMe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes gradientTomato {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientTomato {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  border-radius: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: tomato;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff7961;
}
/*# sourceMappingURL=style.css.map */