*{

    padding: 0px;
    margin : 0px;

}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

$f : flex;
$sa : space-around;
$sb : space-between;
$c : center;
$co : column;
$fw : wrap;
$font : 'Work Sans', sans-serif;

html{

    scroll-behavior: smooth;
    width : 100%;

    body{

        width : 100%;
        background-color: #141414;
        overflow: hidden;

        // Youtube button

        .ytButton{

            position: fixed;
            right : 2%;
            top: 6.5%;
            z-index: 1000;
            transition: .6s;

            i{

                font-size: 2.4em;
                color : tomato;
                transition: .5s;

                &:hover{

                    color : darken(tomato, 10%);

                }

            }

        }

        // Preloader

        .preloader{

            width: 100%;
            height: 100vh;
            position: fixed;
            z-index: 1005 !important;
            display: $f;
            justify-content: $c;
            align-items: $c;
            display: $f;
            justify-content: $c;
            background-color: #151315;

            video{

                width : 100%;
                z-index: 1005 !important;

            }

        }

    // Navigacija

        nav{

            width : 100%;
            position: fixed;
            top: 0%;
            display: $f;
            justify-content: $sa;
            align-items: $c;
            background-color: transparent;
            z-index: 999;
            padding : 0.5% 0%;
            transition : .6s;

            .logoNav{

                width : 25%;
                display: $f;
                justify-content: flex-start;
                align-items: $c;

                .logoImage{

                    img{

                        width : 150px;
                        max-width: 100%;
                        height: auto;
                        transition: .6s;
                
                    }

                }

            }

            .menuNav{

                width : 55%;

                .mainMenu{

                    display: $f;
                    align-items: $c;
                    margin : 0px;
                    list-style-type: none;
                    justify-content: $sa;

                    li{

                        a{

                            color : whitesmoke;
                            text-decoration: none;
                            font-size: 1.2em;
                            position: relative;
                            transition: .6s;
                            letter-spacing: 2.5px;
                            font-family: $font;

                            &:hover{
                                color: tomato;
                            }

                            &:before,&:after{
                                height: 14px;
                                width: 14px;
                                position: absolute;
                                content: '';
                                transition: all 0.35s ease;
                                opacity: 0;
                            }
        
                            &:before{
                                left: -15%;
                                top: -15%;
                                border-left: 3px solid tomato;
                                border-top: 3px solid tomato;
                                transform: translate(100%, 50%);
                            }
        
                            &:after{
                                right: -15%;
                                bottom: -15%;
                                border-right: 3px solid tomato;
                                border-bottom: 3px solid tomato;
                                transform: translate(-100%, -50%);
                            }
        
                            &:hover:before,&:hover:after{
                                transform: translate(0%, 0%);
                                opacity: 1;
                            }
        
                            &:hover{
                                color: lighten(tomato,5%);
                            }

                        }

                    }

                }

            }

        }

        // Side nav trigger

        #triggerSideNav{

            position: fixed;
            z-index: 1004;
            top: 3%;
            left: 5%;
            font-size: 2em;
            text-decoration: none;
            transition: .2s;
            display: none;

                &:hover{

                    transform: translateY(10%);

                }

                &:hover > i{

                    color : darken(tomato, 5%);

                }

            i{

                color : tomato;
                transition: .2s;

            }

        }

        // Side nav

        .sideNav{

            position: fixed;
            top: 0%;
            bottom: 0%;
            width : 100%;
            background-color: #141414;
            z-index: 1003;
            display: $f;
            flex-direction: $co;
            justify-content: $sa;
            align-items: $c;
            transform: translateY(-1500px);
            transition: 1.4s;
            
            .sideMenu{

                list-style-type: none;
                text-align: $c;

                li{

                    margin : 30px 0%;

                    a{

                        text-decoration: none;
                        color : tomato;
                        font-size: 1.3em;
                        display: inline-block;
                        overflow: hidden;
                        position: relative;
                        padding : 5% 0%;
                        font-family: $font;
                        letter-spacing: 3px;

                        &:after {

                            content:'';
                            position: absolute;
                            width: 100%;
                            height: 5px;
                            bottom: -5%;
                            left: 0;
                            background-color: tomato;
                            transform: scaleX(0);
                            transform-origin: bottom right;
                            transition: transform 0.3s;

                        }
                    
                        &:hover {

                            &:after {

                                transform-origin: bottom left;
                                transform: scaleX(1);

                            }

                        }

                    }

                }

            }

            .logoSideNav{

                a{

                    display: $f;
                    justify-content: $c;
                    align-items: $c;

                    img{

                        max-width: 100%;
                        height: auto;
                        width : 45%;

                    }

                }

            }

        }

        .sideNav1{

            transform: translateY(0px);

        }

        // Main

        main{

            width : 100%;
            height: 100vh;
            padding : 0px;
            background-image: url('../images/backgroundNew.jpg');
            background-repeat: no-repeat;
            background-position: $c;
            background-attachment: fixed;
            background-size: cover;

            .fader{

                width : 100%;
                height : 100%;
                display: $f;
                align-items: $c;
                background-color: cyan;
                justify-content: flex-start;
                background-color: rgba(0, 0, 0, 0.7);

                .infoMain{

                    width : 100%;
                    display: $f;
                    flex-direction: $co;
                    align-items: flex-start;
                    justify-content: $c;
                    text-align: $c;

                    .infoBlock{

                        display: $f;
                        flex-direction: $co;
                        justify-content: $c;
                        align-items: $c;

                        img{

                            width : 60%;
                            opacity: 0;
                            animation:showMe 2.6s;
                            animation-delay:5s;
                            animation-fill-mode: forwards;

                        }

                        a{

                            transition: 0.5s;
                            border-radius: 12px;
                            text-decoration: none;
                            padding : 5%;
                            margin-top: 7%;
                            font-family: $font;
                            background-color: tomato;
                            color : whitesmoke;
                            font-size : 1.1em;
                            letter-spacing: 2px;
                            opacity: 0;
                            animation:showMe 2.2s;
                            animation-delay:6s;
                            animation-fill-mode: forwards;


                            &:hover,
                            &:focus { 
                                    border-color: transparent;
                                    color: tomato;
                                    box-shadow: inset 0 -4.50em 0 0 whitesmoke;
                            } 

                        }

                    }
    
                }

            }

        }

    }

    .vert{

        overflow-y: auto;

    }

}


// Animacije

@keyframes showMe{

    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }

}

// Skroler

/* width */
::-webkit-scrollbar {
    width: 12px;
    border-radius: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #141414;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: tomato;
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lighten(tomato, 5%);
  }